<!--footer-->
<footer class="footer-main">
    <div class="container">
        <div class="row">

            <div class="footer-main__inner">
                <div class="logo">
                    <img src="" alt="">
                </div>

                <div class="footer-main__content">
                    <!-- footer-main__content-top -->
                    <div class="footer-main__content-top">
                        <ul class="footer-menu">
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">О Компании</a></li>
                            <li><a href="#">Инвесторам</a></li>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                        <div class="socials">
                            <i class="icon icon-twitter"></i>
                            <i class="icon icon-facebook"></i>
                            <i class="icon icon-instagramm"></i>
                            <i class="icon icon-vk"></i>
                        </div>
                    </div>
                    <!-- footer-main__content-top -->

                    <div class="footer-main__content-bottom">
                        <div class="footer-main__content-bottom-item">
                            <h5>Telegram:</h5> <p>Admin/Admin@mail.com</p>
                        </div>
                        <!-- /.footer-main__content-bottom-item -->
                        <div class="footer-main__content-bottom-item">
                            <h5>E-mail:</h5> <p>Admin/Admin@mail.com</p>
                        </div>
                        <!-- /.footer-main__content-bottom-item -->
                        <div class="footer-main__content-bottom-item">
                            <h5>Адрес:</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
                        </div>
                        <!-- /.footer-main__content-bottom-item -->
                    </div>
                </div>
                <!-- /.footer-main__content-bottom -->
       </div>
    </div>
</footer>
<!--[if lt IE 9]>
<script src="assets/libs/html5shiv/es5-shim.min.js"></script>
<script src="assets/libs/html5shiv/html5shiv.min.js"></script>
<script src="assets/libs/html5shiv/html5shiv-printshiv.min.js"></script>
<script src="assets/libs/html5shiv/respond.min.js"></script>
[endif]-->
<script src="assets/libs/moment/min/moment-with-locales.min.js"></script>
<script src="assets/libs/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="assets/libs/jquery-migrate/jquery-migrate.min.js"></script>
<script src="assets/libs/jquery-easy-scroll/jquery.easeScroll.js"></script>
<script src="assets/libs/slick/slick.min.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
