<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic-ext" rel="stylesheet">
        <link href="http://allfont.ru/allfont.css?fonts=roboto-black" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <title>Document</title>
    </head>
    <body>
        <header class="main-header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <!-- clock -->
                        <div class="header-top__item clock">
                            <i class="icon icon-clock"></i>
                            <div class="header-top__content">
                                <span class="title">server time:</span>
                                <span class="clock-content">18:12:06</span>
                            </div>
                        </div>
                        
                        <!-- address -->
                        <div class="header-top__item address">
                            <i class="icon icon-location"></i>
                            <div class="header-top__content">
                                <span class="title">Адрес:</span>
                                <span class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                            </div>
                        </div>
                        <!-- certificat -->
                        <div class="header-top__item certificat">
                            <i class="icon icon-lion"></i>
                            <div class="header-top__content">
                                <span class="title">Сертификат:</span>
                                <span class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, Lorem ipsum dolor sit amet, consectetur adipisicing elit, </span>
                            </div>
                        </div>
                        <!-- header-top__item -->
                    </div>
                    <!-- row -->
                </div>
                <!-- container -->
            </div>
            <!-- header-top -->
            <div class="header-menu-wrap">
                <div class="container">
                    <div class="header-menu-bar">
                        <div class="row">
                            
                            <!-- logo -->
                            <div class="logo-wrap">
                                <div class="logo-shaddow"></div>
                                <div class="logo">
                                    <div class="logo__img">
                                        <img src="assets/i/logo.png" alt="">
                                    </div>
                                    <div class="logo__text">
                                        <p class="up">coin stream</p>
                                        <p class="down">group limited</p>
                                    </div>
                                </div>
                            </div>
                            
                            <ul class="header-menu">
                                <li class="active"><a href="#">Главная</a></li>
                                <li><a href="#">О Компании</a></li>
                                <li><a href="#">Инвесторам</a></li>
                                <li><a href="#">Faq</a></li>
                                <li><a href="#">Контакты</a></li>
                            </ul>
                            <!-- /.header-menu -->
                            
                            <div class="register-block">
                                <div class="register-block__item login">
                                    <i class="icon icon-key"></i>
                                    <span>Вход</span>
                                </div>
                                <div class="register-block__item register">
                                    <i class="icon icon-user"></i>
                                    <span>Регистрация</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- header-menu-bar --></div>
                </div>
                
                
            </header>