@import "sprite";

.icon-small {
  display: inline-block;
  width: 45px;
  height: 45px;
}


.icon-clock {
  @include sprite($clock);
}

.icon-location {
  @include sprite($location);
}

.icon-lion {
  @include sprite($lion);
}

.icon-key {
  @include sprite($key);
}

.icon-user {
  @include sprite($user);
}

.icon-security {
  @include sprite($security);
}

.icon-people {
  @include sprite($people);
}

.icon-pen {
  @include sprite($pen);
}

.icon-coins {
  @include sprite($coins);
}

