@import "../../../node_modules/bootstrap/scss/bootstrap-grid";
@import "partials/fonts";
@import "partials/icons";
@import "partials/sprite";
@import "partials/variables";
@import "partials/mixins";

html,
body{
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  @include roboto-regular; 
  color: $text-color;
  background: $bg-color;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn {
  &.btn__violet {
    display: inline-block;
    width: 206px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: $white;
    background: url("../i/btn-violet-bg.png") no-repeat center;
  }
}

a{
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

h2 {
  position: relative;
  display: table;
  @include intro;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  background: $white;

  &::before {
    content: '';
    position: absolute;
    top: -21px;
    width: 40px;
    height: 80px;
  }
}

/*main-header
=======================================*/ 
.main-header {
  min-height: 962px;
  color: $white;
  background: url("../i/header-bg.jpg") no-repeat top center;

  @media screen and (max-width: 789px) {
     height: 1190px;
     background-size: cover;
  }    

  @media screen and (max-width: 620px) {
     height: 1240px;
  }    

  @media screen and (max-width: 570px) {
     height: 1330px;
  }    

  @media screen and (max-width: 476px) {
     height: 1480px;
  }    
}

/*header-top
=======================================*/ 
.header-top {
  display: flex;
  justify-content: flex-end;
  padding: 12px 0;
  margin-bottom: -4px;
  margin-left: 238px;
  
  @media screen and (max-width: 1262px) {
     margin-left: 200px;     
  }    

  @media screen and (max-width: 1224px) {
     margin-left: 180px;     
  }    

  @media screen and (max-width: 1100px) {
     margin-left: 170px;     
  }

  @media screen and (max-width: 1054px) {
     margin-left: 148px;     
  }

  @media screen and (max-width: 1030px) {
     margin-left: 200px; 
  }
  
  @media screen and (max-width: 478px) {
     margin-left: 150px; 
  }

  @media screen and (max-width: 420px) {
     margin-left: 120px; 
  }

  @media screen and (max-width: 390px) {
     margin-left: 90px; 
  }

  @media screen and (max-width: 620px) {
     margin-top: -20px; 
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 62px;

    @media screen and (max-width: 1224px) {
       margin-right: 30px;     
    }    

    @media screen and (max-width: 1110px) {
       margin-right: 15px;     
    }    

    @media screen and (max-width: 1030px) {
       margin-bottom: 20px;     
    }

    &.clock {
      width: 165px;
    }

    .title {
      font-size: 13px;
      text-transform: uppercase;
    }

    .clock-content {
      font-size: 29px;
      font-weight: 300;
    }

    span {
      display: block;
    }

    &.address {
      width: 224px;

      .content {
        width: 162px;
      }
    }

    &.certificat {
      width: 448px;

      @media screen and (max-width: 666px) {
        width: 350px;        
      }   

      @media screen and (max-width: 568px) {
        width: 250px;        
      }    

      @media screen and (max-width: 440px) {
        width: 224px;        
      }    
      .content {
        width: 400px;

        @media screen and (max-width: 666px) {
          width: 290px;        
        }  

        @media screen and (max-width: 568px) {
          width: 190px;        
        }      

        @media screen and (max-width: 400px) {
          width: 160px;        
        } 
      }
    }

  }

  &__content {
    display: inline-block;

    .content {
      font-size: 13px;
    }
  }
}

/*header-top
=======================================*/ 

/*header-menu-wrap
=======================================*/ 
.header-menu-wrap {
  padding: 4px 0;
  margin-bottom: 50px;
  background: rgba(255,255,255,.2);

  @media screen and (max-width: 1060px) {
     margin-bottom: 30px;
  }    

  @media screen and (max-width: 992px) {
     margin-bottom: -6px;
  }    
}

/*header-menu-bar
=======================================*/ 
.header-menu-bar {
  position: relative;

  .logo-wrap {
    position: absolute;
    top: -34px;
    left: -48px;

    @media screen and (max-width: 660px) {
       left:0;     
    }    

    
    .logo-shaddow {
      position: absolute;
      top: -11px;
      left: -11px;
      width: 166px;
      height: 166px;
      background: $white;
      border-radius: 50%;
      z-index: 9;

      &::before {
        content: '';
        position: absolute;
        top: -93px;
        left: -178px;
        width: 300px;
        height: 166px;
        background: $white;
        transform: rotate(-140deg);
      }
    }
  }

  .logo {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 144px;
    height: 144px;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 10;

    &__text {
      .up {
        @include roboto-black;
        font-weight: 900;
        color: $accent;
      }

      .down {
        font-size: 14px;
        color: #a7a7a7;
      }
      p {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
      }
    }
  }
}
/*header-menu-bar
=======================================*/ 

/*menu-btn
=======================================*/ 
.menu-btn {
  @media screen and (max-width: 1200px) {
    position: absolute;
    top: 6px;
    right: 50px;
     display: block;
     width: 30px;
     height: 30px;
     font-size: 30px;
     color: #888;
     z-index: 20;
  }    

  @media screen and (min-width: 1200px) {
     display: none;     
  }    
}
/*menu-btn
=======================================*/ 

/*header-menu
=======================================*/ 
.header-menu__navbar {
  position: relative;
  margin-left: 100px;
  padding-left: 12px;
  background: $white;
  z-index: 10;

  @media screen and (max-width: 1200px) {
    width: 500px;    
  }    
  
  @media screen and (max-width: 992px) {
    width: 290px;
    height: 62px; 
  }    

  @media screen and (max-width: 992px) {
    width: 100%;
  }    

}

.header-menu {
  position: relative;
  z-index: 30;
  background: $white;
  @media screen and (max-width: 1200px) {
     display: none;     
  }    

  @media screen and (max-width: 1200px) {
     margin-top: 40px;
  }    

  @media screen and (min-width: 1200px) {
     margin-top: 0!important;
  }    

  li {
    display: inline-block;
    vertical-align: middle;

    @media screen and (max-width: 1200px) {
       display: block;     
    }    

    &.active a,
    a:hover{
      &::before,
      &::after{
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background: $white;
        opacity: .44;
        transition: all .4s ease;
      }

      &::before {
        top: -4px;
      }

      &::after {
        bottom: -4px;
      }  
    }
  }

  a{
    position: relative;
    display: block;
    margin: 0 30px;
    height: 62px;
    font-weight: 700;
    line-height: 62px;
    text-transform: uppercase;
    color: $text-color;
  }
}
/*header-menu
=======================================*/ 

/*register-block
=======================================*/ 
.register-block {
  position: relative;
  z-index: 20;

  @media screen and (max-width: 992px) {
     margin-left: 200px;     
  }    

  @media screen and (max-width: 400px) {
     margin-left: 160px;     
  }    
  &__item {
    display: inline-block;
    vertical-align: middle;
    height: 62px;
    line-height: 62px;
    text-transform: uppercase;
    cursor: pointer;

    /*register-block.login
    =======================================*/ 

    &.login {
      position: relative;
      color: #69696b;
      background: $white;

      @media screen and (max-width: 992px) {
        color: $white;
         background: none;
      }    

      span {
        padding: 0 10px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -51px;
        width: 0;
        height: 0;
        border: 31px solid transparent;
        border-left-width: 20px;
        border-left-color: $white;

        @media screen and (max-width: 992px) {
           border-color: transparent;     
        }    
      }

      .icon-key {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: -6px;
          left: -6px;
          width: 30px;
          height: 30px;
          text-align: center;
          box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
          border-radius: 50%;
        }

      }

    }  
    
      /*register-block.register
    =======================================*/   
    &.register{
      margin-left: 40px;

      i {
        margin-right: 8px;
      }
    }

    i {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
/*register-block
=======================================*/ 

/*header-middle
=======================================*/ 
.header-middle {
  .exchange {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: -20px;

    &__item {
      h6 {
        margin-bottom: 6px;
        font-size: 18px;
        @include intro;
        font-weight: 400;
        text-transform: uppercase;
        @media screen and (max-width: 570px) {
           margin: 0 30px 6px;     
        }    
      }


      &-number {
        width: 450px;
        height: 101px;
        @include roboto-black;
        font-size: 40px;

        span {
          display: inline-block;
          vertical-align: top;
          margin-top: 8px;
        }

        .fa {
          color: #000;
          opacity: .12;
        }
      }
      
      &.left {
        .exchange__item-number {
          width: 440px;
          text-align: right;
          background: url("../i/exchange-item-left.png") no-repeat top right;

          @media screen and (max-width: 978px) {
             width: 240px;
             font-size: 30px;     
          }    

          @media screen and (max-width: 460px) {
             width: 180px;
             font-size: 20px;     
          }    

          span {
            margin-right: 60px;
          }

          .fa {
            margin-right: 15px;
          }
        }
      }  

      &.right {
        text-align: right;

        .exchange__item-number {
          width: 440px;
          text-align: left;
          background: url("../i/exchange-item-right.png") no-repeat top left;

          @media screen and (max-width: 978px) {
             width: 240px;     
             font-size: 30px;
          }    

          @media screen and (max-width: 460px) {
             width: 180px;
             font-size: 20px;     
          }    

          span {
            margin-left: 60px;
          }

          .fa {
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
            margin-top: 20px;
          }
        }
      }
    }
    /*exchange__item
    =======================================*/ 
  }
  /*exchange
  =======================================*/ 
  h1 {
    width: 100%;
    @include intro;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  &__content {
    margin-bottom: -30px;

    @media screen and (max-width: 552px) {
       margin-bottom: -4px;
    }    

    @media screen and (max-width: 482px) {
       margin-bottom: 20px;
    }
  }

  &__text {
    margin: 0 auto 30px;
    max-width: 590px;
    text-align: center;
    line-height: 23px;
  }
  
  .btn {
    display: table;
    margin: 0 auto;
    width: 206px;
    height: 43px;
    line-height: 43px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    background: url("../i/btn-bg.png") no-repeat center;
  }

  .exchange.bottom {
    .fa-sort-up {
      margin-top: 20px;
    }
    
    .exchange__item.right .exchange__item-number .fa.fa-sort-down {
      margin-top: 0;
    }

    .exchange__item {
      span {
        font-size: 31px;
        
        @media screen and (max-width: 496px) {
           font-size: 20px;   
        }
      }

    }

    .exchange__item.left {
      
      .exchange__item-number {
        width: 358px;
        height: 52px;
        background: url("../i/exchange-right-small-bg.png") no-repeat top right;

        @media screen and (max-width: 784px) {
           width: 258px;   
        }    
          
        @media screen and (max-width: 496px) {
           width: 158px;   
        }
          
        .fa {
          margin-top: 15px;
        }
      }
    }

    .exchange__item.right {

      .exchange__item-number {
        width: 358px;
        height: 52px;
        background: url("../i/exchange-left-small-bg.png") no-repeat top left;

        @media screen and (max-width: 784px) {
           width: 258px;   
        }

        @media screen and (max-width: 496px) {
           width: 158px;   
        }    

        .fa.fa-sort-down {
          margin-top: -16px;
        }
      }  
    }

    
  }
}
/*header-middle
=======================================*/ 

/*statistick
=======================================*/
.statistick {
  position: relative;
  top: 10px;    

   &::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 56px;
    background: url("../i/statistick__bottom-line.png") no-repeat center;
  }

  /*statistick__top
  =======================================*/ 
  &__top {
    margin: 30px auto 20px;
    width: 227px;
    height: 41px;
    text-align: center;
    line-height: 41px;
    text-transform: uppercase;
    background: url('../i/statistick-top-bg.png') no-repeat center;

    span {
      @include intro;
      opacity: .28;
    }
  }
  /*statistick__top
  =======================================*/ 


  /*statistick__bottom
  =======================================*/ 
  &__bottom {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 772px;
    height: 132px;
    background: url("../i/statistick__bottom-bg.png") no-repeat center;
    filter: drop-shadow(0 5px 16px rgba(0,0,0,0.2));
    
    @media screen and (max-width: 788px) {
        height: 160px;
      }      

    @media screen and (max-width: 788px) {
        margin-top: 145px;
        padding-top: 20px;
        width: auto;
        background: none;
      }      

    @media screen and (max-width: 789px) {
       background: $white;
    }    

    @media screen and (max-width: 608px) {
       flex-direction: column;
       align-items: center;
       height: auto;
    }    

    h3 {
      margin-top: 10px;
      margin-bottom: 12px;
      text-transform: uppercase;
      color: #000;
      opacity: .12;
    }

    &-item {
      width: 290px;

      p {
        margin: 0;
        margin-bottom: 10px;
        font-size: 23px;
        font-weight: bold;
        color: $accent;

        span {
          font-size: 11px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      & > span {
        text-transform: uppercase;
        color: #000;
        opacity: .12;
      }
    }

    &-left {
      text-align: right;

      @media screen and (max-width: 608px) {
        text-align: left;
      }    
    }

    &-right {
      text-align: left;
    }
  }
  /*statistick__bottom
  =======================================*/ 
  
  /*statistick__clock
  =======================================*/ 
  &__clock {
    position: absolute;
    top: 63%;
    left: 50%;
    width: 176px;
    height: 176px;
    text-align: center;
    transform: translate(-50%, -50%);
    color: $accent;
    background: url("../i/statistick-clock.png") no-repeat center;
    filter: drop-shadow(0 5px 16px rgba(0,0,0,0.2));

    @media screen and (max-width: 775px) {
       top: 39%;
    }    

    @media screen and (max-width: 610px) {
       top: 36%;
    }    

    @media screen and (max-width: 610px) {
       top: 26%;
    } 

    h4 {
      margin-top: 50px;
      margin-bottom: 0;
      font-size: 20px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
    }

    .num {
      font-size: 50px;
      font-weight: bold;
    }

    .days {
      margin-bottom: 10px;
      vertical-align: bottom;
      font-weight: bold;
    }
  }
  /*statistick__clock
  =======================================*/ 
}
/*statistick
=======================================*/ 

/*main
=======================================*/ 
.main {
  padding-top: 40px;
  background: $white;
}
/*main
=======================================*/ 

/*about
=======================================*/ 
.about {
  position: relative;
  padding-bottom: 80px;
  background: url('../i/about-bg.png') no-repeat 200% 0%;
  z-index: 100;

  @media screen and (max-width: 1400px) {
     background-position: 240% 0%;
  }    

  @media screen and (max-width: 1400px) {
     background-position: 300% 0%;
  }    

  @media screen and (max-width: 1250px) {
     background-position: 360% 0%;
  }    

  @media screen and (max-width: 1200px) {
     background-position: 460% 0%;
  }    

  @media screen and (max-width: $xl) {
    padding-bottom: 0;
     background: none;
  }    
  h2 {
    margin-bottom: 30px;
    &::before {
      left: 0;
      background: url("../i/about-title-bg.png") no-repeat top left;
    }
  }

  p {
    line-height: 23px;
  }

  .btn {
    &.btn__violet {
      @media screen and (max-width: $lg) {
         margin-bottom: 60px;
      }    
    }
  }
}
/*about
=======================================*/ 

/*tarrif
=======================================*/
.tarrif {
  padding-top: 300px;
  min-height: 1147px;
  background: url('../i/tarrif-bg.png') no-repeat top center;
  
  h2 {
    margin-left: auto;
    margin-bottom: 130px;

    &::before {
      right: 0;
      background: url('../i/tarrif-title-bg.png') no-repeat top right;
    }
  }

  /*tarrif__item
  =======================================*/ 
  &__item {
    position: relative;
    margin-bottom: 90px;
    width: 263px;
    height: 358px;
    text-align: center;
    background: url('../i/tarrif-item-bg.png') top center no-repeat;

    @media screen and (max-width: $xl) {
       margin: 0 auto 90px;
    }    

    /*tarrfi__item-content
    =======================================*/ 

    h3 {
      margin-top: 10px;
      @include intro;
      font-size: 23px;
      font-weight: bold;
      text-transform: uppercase;
      color: #000;
      opacity: .12;

    }

    /*tarrif__item-inner
    =======================================*/ 
    &-inner {
      position: absolute;
      top: -40px;
      width: 262px;
      height: 358px;
      background: url('../i/tarrif-inner-bg.png') top center no-repeat;
      overflow: hidden;

      .show-tarrif-list {
        position: absolute;
        bottom: 10px;
        left: 50%;
        margin-left: -16px;
        width: 32px;
         height: 32px;
         background: url('../i/tarrif-btn-up.png') top center no-repeat; 
         z-index: 20;

         &.active {
            background: url('../i/tarrif-btn-down.png') top center no-repeat;           
         }
      }
    }
    /*tarrif__item-inner
    =======================================*/ 

    .percent {
      margin-top: 34px;
      margin-bottom: 20px;
      font-size: 35px;
      color: $white;

      .num {
        font-size: 60px;
        font-weight: bold;
      }
    }

    &-deposit {
      position: relative;
      font-size: 10px;
      text-transform: uppercase;

      ul{
        margin-bottom: 5px;
      }

      li {
        display: flex;
        margin: 0 auto 6px;
        padding: 8px 11px;
        justify-content: space-between;
        width: 200px;
        background: #ededed;
        border-radius: 10px;
      }

      .btn.btn__violet {
        width: 180px;
        height: 35px;
        line-height: 35px;
        background-size: cover;
      }
    }

    &-list {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 98%;
      padding: 0 15px;
      background: url('../i/tarrif__item-list-bg.png');
      z-index: 10;
      
      &.active {
        display: block;
      }

      li {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;

        &:first-child {
          padding: 20px 25px;
        }

        &:nth-child(2) {
          padding: 20px 17px;
        }

        &:nth-child(3) {
          padding: 20px 12px;
        }

        &:nth-child(4) {
          padding: 20px 8px;
        }

        .left {
          color: #aeaeae;
        }

        .right {
          font-weight: bold;
          color: $accent;
        }
      }
    }
  }
  /*tarrif__item
  =======================================*/ 
}

/*select-plan
=======================================*/ 
.select-plan {
  display: table;
  margin: 0 auto;
  text-align: center;

  .form-group {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }

  select,
  input {
    width: 280px;
    height: 40px;
    text-indent: 12px;
    color: #bfbfbf;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.02);
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background-color: #efefef;
  }

  .money {
    margin-bottom: 20px;
    color: $accent;

    span {
      font-size: 30px;
    }
  }
}

/*select-plan
=======================================*/ 

/*tarrif
=======================================*/

